openshift
jupyterhub-kubespawner==0.11.1
git+https://github.com/mroman-redhat/jupyterhub-singleuser-profiles.git@c4840a84adb04be931856f60643e18a5b4f2cb34
git+https://github.com/vpavlin/jupyter-publish-extension.git@7cbf34e494fd9a0a79e9cd9a8c1d48a6775b9f49
git+https://github.com/vpavlin/oauthenticator.git
